/* reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* flexbox spans the width and height of the viewport and horizontally and vertically centered content */
.flex-container {
    display: flex;
    width: 100vw;            
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #222222; /* extra credit background color */
}

/* create 3x3 grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

/* item spamming whole track */
.grid-item-1 {
    grid-column: span 3;
    background-color: #20DFBC;
    border-radius: 5px;             /* extra credit rounded border on all grid items */
    border: 2px solid #555555;    /* extra credit border outline on all grid items */
}

/* the rest of the items */
.grid-item-2 {
    grid-column: 1/2;
    grid-row: span 2;
    background-color: #FD7768;
    border-radius: 5px;
    border: 2px solid #555555;
}

.grid-item-3 {
    grid-column: 2/2;
    grid-column: span 2;
    background-color: #2EFF58;
    border-radius: 5px;
    border: 2px solid #555555;
}


.grid-item-4 {
    grid-column: 3/2;
    background-color: #DE85FF;
    border-radius: 5px;
    border: 2px solid #555555;
}

.grid-item-5 {
    grid-column: 3/3;
    background-color: #FDFF6B;
    border-radius: 5px;
    border: 2px solid #555555;
}